nav #home[status="active"]
{
  background-color: #e11d48;
  color: #1a2e05;
  border: none;
  border-radius: 10px 10px 0 0;
}
body .home
{
  background-color: #e11d48;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "handwrie", monospace;
}
.home h1
{
  border: 10px solid black;
  padding: 5%;
  font-size: 10rem;
  background-color: #881337;
  color: #fff1f2;
  border-style: groove;
}
.home div:nth-child(2n)
{
  font-size: 2rem;
}
.home::before
{
  position: absolute;
  content: "*Everything here is fictional:(";
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.8rem;
  bottom: 0px;
}