nav #about[status="active"]
{
  background-color: #fda4af;
  border-bottom: none;
}
.about
{
  padding: 2%;
  font-size: 4vh;
  background-color: #fda4af;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about h1
{
  color: #4c0519;
  text-align: center;
}
.about p
{
  color: #881337;
  text-align: center;
}
.about a
{
  color: #f43f5e;
}